
body{
font-family: Arial;
background:#111;
color:white;
text-align:center;
}

.logo{
width:120px;
margin-top:20px;
}

button{
display:block;
margin:10px auto;
padding:15px;
width:220px;
font-size:18px;
border:none;
border-radius:10px;
background:#e63946;
color:white;
}

.exercise{
border:1px solid #444;
margin:15px;
padding:10px;
border-radius:10px;
}
